.bg {
    overflow: hidden;
    background: #084d6d;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.mountain,
.mountain-two,
.mountain-three {
    position: absolute;
    left: 300px;
    bottom: 300px;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-bottom: 180px solid #767c80;
    z-index: 1;
}

.mountain-three {
    left: 150px;
    bottom: 300px;
    opacity: .5;
    z-index: 0;
}


.mountain-cap-1 {
    position: absolute;
    bottom: -250x;
    left: -150px;
    border-left: 150px solid transparent;
    border-bottom: 180px solid #ffffff;
    z-index: 2;
}

.moon {
    position: absolute;
    width: 50px;
    height: 50px;
    background: #fff;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.moon {
    bottom: 700px;
    -webkit-animation: moon 50s infinite linear;
    animation: moon 50s infinite linear;
}


.tree, .tree-three {
    position: absolute;
    left: 1000px;
    bottom: 350px;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 80px solid #ffffff;
    z-index: 1;
}

.tree-three {
    left: 800px;
}

.tree-two {
    bottom: -40px;
    left: -40px;
    position: absolute;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 75px solid #e7e3e3;
    z-index: 1;
}

.rectangle {
    bottom: -140px;
    position: absolute;
    width: 10px;
    height: 40px;
    background: rgba(255, 255, 255, 0.822);
  }

@-webkit-keyframes moon {
    0% {
        left: -100px;
    }

    100% {
        left: 1000px;
    }
}

@keyframes moon {

    0% {
        left: -100px;
    }

    100% {
        left: 1000px;
    }
}
